<div class="layout layout--col layout--stretch">
  {% if today.size <= 5 %}
    {% for day in today %}
    <div class="flex flex--col flex--center flex--middle stretch-y">
      <span class="title title--base lg:title--large text--center" data-clamp="1">{{ day }}</span>
    </div>
    {% endfor %}
  {% else %}
    <div class="flex flex--row h--full flex--stretch-x">
      <div class="flex flex--col h--full flex--center flex--middle">
        {% for day in left_days %}
        <div class="flex flex--col flex--center flex--middle">
          <span class="title title--small lg:title--base text--center" data-clamp="1">{{ day }}</span>
        </div>
        {% endfor %}
      </div>
      <div class="flex flex--col h--full flex--center flex--middle">
        {% for day in right_days %}
        <div class="flex flex--col flex--center flex--middle">
          <span class="title title--small lg:title--base text--center" data-clamp="1">{{ day }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% render "title_bar", generated_at: metadata.generated_at %}