<div class="layout layout--col layout--stretch">
  {% if today.size <= 6 %}
    {% for day in today %}
    <div class="flex flex--col flex--center flex--middle stretch-y">
      <span class="title title--large text--center">{{ day }}</span>
    </div>
    {% endfor %}
  {% else %}
    <div class="flex flex--row" style="flex:1; height:100%;">
      <div class="flex flex--col" style="flex:1; height:100%; justify-content:space-around;">
        {% for day in today limit:9 %}
          {% if forloop.index <= 6 %}
          <div class="flex flex--col flex--center flex--middle">
            <span class="title title--base text--center">{{ day }}</span>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if today.size > 6 %}
      <div class="flex flex--col" style="flex:1; height:100%; justify-content:space-around;">
        {% for day in today limit:9 %}
          {% if forloop.index > 6 %}
          <div class="flex flex--col flex--center flex--middle">
            <span class="title title--base text--center">{{ day }}</span>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>
  <div class="title_bar">
    <img class="image" src="https://raw.githubusercontent.com/jvivona/tidbyt-data/refs/heads/main/nationalday/nationalday_icon.svg" alt="National Days">
    <span class="title">National Days</span>
    <span class="instance">{{ metadata.generated_at | date: "%B %-d, %Y" }}</span>
  </div>