<div class="layout">
  {%- if has_births and has_deaths -%}
    {%- comment -%}Layout with Events, Births, Deaths{%- endcomment -%}
    <div class="columns">
      <div class="column">
        <div class="title center lg:portrait:title--base">{{ metadata.language.events }}</div>
        <div class="columns" data-overflow="true" data-overflow-max-cols="1">
          <div class="column">
            {% for event in events limit: 20 %}
            <div class="item gap-sm lg:gap-md lg:portrait:gap-md">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:title--base lg:portrait:title--base">{{ event.year }}</span>
                <span class="description clamp--3 lg:description--base lg:portrait:description--base lg:portrait:clamp--3">{{ event.text }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="title center lg:portrait:title--base">{{ metadata.language.births }}</div>
        <div class="columns" data-overflow="true" data-overflow-max-cols="1">
          <div class="column">
            {% for birth in births limit: 4 %}
            <div class="item gap-sm lg:hidden lg:gap-md lg:portrait:gap-md lg:portrait:hidden">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:title--base">{{ birth.year }}</span>
                <span class="description clamp--1 lg:description--base">{{ birth.text }}</span>
              </div>
            </div>
            {% endfor %}
            {% for birth in births limit: 7 %}
            <div class="item gap-sm lg:gap-md hidden lg:flex lg:portrait:gap-md lg:portrait:hidden">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:title--base">{{ birth.year }}</span>
                <span class="description clamp--1 lg:description--base">{{ birth.text }}</span>
              </div>
            </div>
            {% endfor %}
            {% for birth in births limit: 10 %}
            <div class="item gap-sm lg:portrait:gap-md hidden lg:portrait:flex">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:portrait:title--base">{{ birth.year }}</span>
                <span class="description clamp--1 lg:portrait:description--base lg:portrait:clamp--1">{{ birth.text }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="title center lg:portrait:title--base">{{ metadata.language.deaths }}</div>
        <div class="columns" data-overflow="true" data-overflow-max-cols="1">
          <div class="column">
            {% for death in deaths limit: 7 %}
            <div class="item gap-sm lg:gap-md lg:portrait:gap-md lg:portrait:hidden">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:title--base">{{ death.year }}</span>
                <span class="description clamp--1 lg:description--base">{{ death.text }}</span>
              </div>
            </div>
            {% endfor %}
            {% for death in deaths limit: 10 %}
            <div class="item gap-sm lg:portrait:gap-md hidden lg:portrait:flex">
              <div class="meta">
                <span class="index"></span>
              </div>
              <div class="content">
                <span class="title title--small lg:portrait:title--base">{{ death.year }}</span>
                <span class="description clamp--1 lg:portrait:description--base lg:portrait:clamp--1">{{ death.text }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {%- else -%}
    {%- comment -%}Events only - 2 column overflow{%- endcomment -%}
    <div class="columns" data-overflow="true" data-overflow-max-cols="2">
      <div class="column">
        <div class="title center lg:portrait:title--base">{{ metadata.language.events }}</div>
        {% for event in events limit: 40 %}
        <div class="item gap-sm lg:gap-md lg:portrait:gap-md">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:title--base lg:portrait:title--base">{{ event.year }}</span>
            <span class="description clamp--3 lg:description--base lg:portrait:description--base lg:portrait:clamp--3">{{ event.text }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {%- endif -%}
</div>

{% render "titlebar", title: metadata.language.title, date: metadata.current_date %}