<div class="layout">
  {%- if has_births and has_deaths -%}
    {%- comment -%}Single column with Events, Births, Deaths{%- endcomment -%}
    <div class="columns" data-overflow="true" data-overflow-max-cols="1">
      <div class="column">
        <div class="title center title--small lg:title--base">{{ metadata.language.events }}</div>
        {% for event in events limit: 2 %}
        <div class="item gap-sm lg:gap-md lg:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="description clamp--2"><strong>{{ event.year }}</strong> {{ event.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for event in events limit: 3 %}
        <div class="item gap-sm lg:gap-md hidden lg:flex">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:title--base">{{ event.year }}</span>
            <span class="description clamp--2 lg:description--base">{{ event.text }}</span>
          </div>
        </div>
        {% endfor %}
        
        {% for birth in births limit: 1 %}
        <div class="item gap-sm lg:gap-md lg:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="description clamp--1"><strong>{{ metadata.language.b }}. {{ birth.year }}</strong> {{ birth.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for birth in births limit: 1 %}
        <div class="item gap-sm lg:gap-md hidden lg:flex lg:portrait:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:title--base">{{ metadata.language.b }}. {{ birth.year }}</span>
            <span class="description clamp--1 lg:description--base">{{ birth.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for birth in births limit: 2 %}
        <div class="item gap-sm lg:portrait:gap-md hidden lg:portrait:flex">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:portrait:title--base">{{ metadata.language.b }}. {{ birth.year }}</span>
            <span class="description clamp--1 lg:portrait:description--base">{{ birth.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for death in deaths limit: 1 %}
        <div class="item gap-sm lg:gap-md lg:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="description clamp--1"><strong>{{ metadata.language.d }}. {{ death.year }}</strong> {{ death.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for death in deaths limit: 1 %}
        <div class="item gap-sm lg:gap-md hidden lg:flex lg:portrait:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:title--base">{{ metadata.language.d }}. {{ death.year }}</span>
            <span class="description clamp--1 lg:description--base">{{ death.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for death in deaths limit: 2 %}
        <div class="item gap-sm lg:portrait:gap-md hidden lg:portrait:flex">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:portrait:title--base">{{ metadata.language.d }}. {{ death.year }}</span>
            <span class="description clamp--1 lg:portrait:description--base">{{ death.text }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {%- else -%}
    {%- comment -%}Events only - 3 on standard, 5 on X devices{%- endcomment -%}
    <div class="columns" data-overflow="true" data-overflow-max-cols="1">
      <div class="column">
        <div class="title center title--small lg:title--base">{{ metadata.language.events }}</div>
        {% for event in events limit: 6 %}
        <div class="item gap-sm lg:gap-md lg:hidden">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="description clamp--2"><strong>{{ event.year }}</strong> {{ event.text }}</span>
          </div>
        </div>
        {% endfor %}
        {% for event in events limit: 6 %}
        <div class="item gap-sm lg:gap-md hidden lg:flex ">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small lg:title--base">{{ event.year }}</span>
            <span class="description clamp--2 lg:description--base">{{ event.text }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {%- endif -%}
</div>
{% render "titlebar", title: metadata.language.title, date: metadata.short_date %}