<style>
  .trmnl .content .description {
    word-break: break-word;
  }
</style>
<div class="layout">
  <div class="columns">
    <div class="column"
      data-list-limit="true" 
      data-list-max-height="360" >
      <div class="title center">Events</div>
      {% for event in metadata.events limit:4 %}
      <div class="item ">
        <div class="meta">
          <span class="index"></span>
        </div>
        <div class="content">
          <span class="description clamp--3"><strong>{{ events[event].year }}</strong> {{ events[event].text }}</span>
        </div>
      </div>
      {% endfor %}
      {% for birth in metadata.births limit:2 %}
      <div class="item ">
        <div class="meta">
          <span class="index"></span>
        </div>
        <div class="content gap--xsmall">
          <span class="description clamp--2"><strong>b. {{ births[birth].year }}</strong> {{ births[metadata.births[0]].text }}</span>
        </div>
      </div>
      {% endfor %}
      {% for death in metadata.deaths limit:2 %}
      <div class="item ">
        <div class="meta">
          <span class="index"></span>
        </div>
        <div class="content gap--xsmall">
          <span class="description clamp--2"><strong>d. {{ deaths[death].year }}</strong> {{ deaths[death].text }}</span>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://raw.githubusercontent.com/jvivona/tidbyt-data/refs/heads/main/thisdayinhistwikipedia/thisdayinhist_icon.svg">
  <span class="title">This Day in History</span>

  <span class="instance">{{ metadata.current_date }}</span>
</div>








